<header>
    <div class="header">
        <h1>{{title}}
        </h1>

        <nav>
            <ul class="main-nav">
                <li><a href="/">Weather</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </nav>
    </div>

</header>